body {
    background-image: url("https://rukminim3.flixcart.com/image/850/1000/xif0q/painting/p/g/h/ms-uv-br-1411-16819-masstone-original-imagnfk5gznxgwhq.jpeg?q=90&crop=false");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  